<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="public/tablet.png" />
<link href="public/css/bootstrap.min.css" rel="stylesheet">
<link href="public/css/extra-global.css" rel="stylesheet">

<title>Device Log</title>

<script type="text/template" id="details">
  <ul> 
    <% _.each(devices, function(device)  { %>
      <li><%= _.escape(device.id) %></li>
    <% }); %>
  </ul>
</script>

<script type="text/template" id="device-type-select">
	<option value="">(select)</option>
    <% _.each(device_types, function(device_type)  { %>
      <option value="<%= _.escape(device_type.id) %>"><%= _.escape(device_type.name) %> <%= _.escape(device_type.model_no != "" ? "(" + device_type.model_no + ")" : "")%> </option>
    <% }); %>
</script>


<script type="text/template" id="device-status-select">
	<option value="">(select)</option>
    <% _.each(device_statuses, function(device_status)  { %>
      <option value="<%= _.escape(device_status.id) %>"><%= _.escape(device_status.tag) %></option>
    <% }); %>
</script>

<script type="text/template" id="device-template-tr">
	<tr>
		<td><a href="#device/<%= _.escape(id) %>">#<%= _.escape(id) %></a></td>
		<td><%= _.escape(device_type.name) %></td>
		<td><a href="#device/<%= _.escape(id) %>"><%= _.escape(sn) %></a></td>
		<td><a href="#person/<%= _.escape(person.id) %>"><%= _.escape(person.code) %></a></td>
		<td><%= _.escape(device_status.tag) %></td>
		<td><%= yn(is_spare) %></td>
		<td><%= yn(is_damaged) %></td>
		<td><%= yn(is_bought) %></td>
	</tr>
</script>

<script type="text/template" id="device-history-div">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= _.escape(date) %> on <a href="#device/<%= _.escape(device.id) %>"><%= _.escape(device.device_type.name) %> / <%= _.escape(device.sn) %></a> by <%= _.escape(technician.name) %>
		</div>
		<div class="panel-body">
<div style="float:right">
			<% if(change == 'comment' || change == 'photo') {  %>
&nbsp;
			<% } else if(change == 'owner') {  %>
Allocated &rarr; <td><%= _.escape(person.code) %></td>
			<% } else if(change == 'status') {  %>
Status &rarr; <td><%= _.escape(device_status.tag) %></td>
			<% } else if(change == 'damaged') {  %>
Damaged &rarr; <td><%= yn(is_damaged) %></td>
			<% } else if(change == 'spare') {  %>
Spare &rarr; <td><%= yn(is_spare) %></td>
			<% } else if(change == 'bought') {  %>
Bought &rarr; <td><%= yn(is_bought) %></td>
			<% } %>
</div>
			<%= (comment == "" ? '(no comment)' : _.escape(comment)) %>
		</div>
	</div>
</script>

<script type="text/template" id="person-device-template-tr">
	<tr>
		<td><a href="#device/<%= _.escape(id) %>">#<%= _.escape(id) %></a></td>
		<td><%= _.escape(device_type.name) %></td>
		<td><a href="#device/<%= _.escape(id) %>"><%= _.escape(sn) %></a></td>
		<td><%= _.escape(device_status.tag) %></td>
		<td><%= yn(is_spare) %></td>
		<td><%= yn(is_damaged) %></td>
		<td><%= yn(is_bought) %></td>
	</tr>
</script>

<script type="text/template" id="person-template-tr">
	<tr>
		<td><a href="#person/<%= _.escape(id) %>"><%= _.escape(code) %></a></td>
		<td><%= _.escape(firstname) %></td>
		<td><%= _.escape(surname) %></td>
		<td><%= yn(is_staff) %></td>
		<td><%= yn(is_active) %></td>
	</tr>
</script>

<script type="text/template" id="person-template-detail">
<!-- Edit person dialog -->
<div class="modal fade" id="modalEditPerson" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><span class="glyphicon glyphicon-edit"></span> Edit person</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div id="editPersonStatus" style="display: none" class="bs-callout bs-callout-warning">...</div>
					<div class="form-group" style="padding-left: 25px">
						<input type="hidden" id="editPersonId" value="<%= _.escape(id) %>">
						<label for="editPersonUserCode">Code</label>
						<input type="text" class="form-control" id="editPersonUserCode" placeholder="Enter Code" value="<%= _.escape(code) %>">
					</div>
					<div class="form-group" style="padding-left: 25px">
						<label for="editPersonFirstName">First Name</label>
						<input type="text" class="form-control" id="editPersonFirstName" placeholder="First Name" value="<%= _.escape(firstname) %>">
					</div>
					<div class="form-group" style="padding-left: 25px">
						<label for="editPersonSurname">Surname</label>
						<input type="text" class="form-control" id="editPersonSurname" placeholder="Surname" value="<%= _.escape(surname) %>">
					</div>
					<div class="checkbox" style="padding-left: 45px">
						<label> <input type="checkbox" id="editPersonIsStaff"<%= checked(is_staff) %>> Staff
						</label>
					</div>
					<div class="checkbox" style="padding-left: 45px">
						<label> <input type="checkbox" id="editPersonIsActive"<%= checked(is_active) %>> Active
						</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onClick="editPersonSave()">Save</button>
			</div>
		</div>
	</div>
</div>

<div class="btn-group" style="float: right">
	<button type="button" onClick="return editPerson();" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</button>
</div>

<!-- Person details -->
<h2><%= _.escape(firstname + ' ' + surname) %></h2>
<table class="table">
	<tbody>
		<tr>
			<th>Code</th><td><a href="#person/<%= id %>"><%= code %></a></td>
			<th>Devices</th><td><a href="#" id="btnPersonDeviceList"><%= device.length %></a></td>
			<td rowspan=4" style="width: 12em;"><img class="img-thumbnail" src="/dl/api/person/photo/<%= _.escape(id) %>" alt="<%= _.escape(code) %>" /></td>
		</tr>
		<tr>
			<th>Staff</th><td><%= yn(is_staff) %></td>
			<th>Keys</th><td><%= doorkey.length %></td>
		</tr>
		<tr>
			<th>Active</th><td><%= yn(is_active) %></td>
			<th>Licenses</th><td><%= software.length %></td>
		</tr>
		<tr> <!-- Dummy row so that the image does not scale other rows -->
			<td>&nbsp;</td><td>&nbsp;</td>
			<td>&nbsp;</td><td>&nbsp;</td>
		</tr>
	</tbody>
</table>
<h3>History (<%= device_history.length %>)</h3>
</script>

<script type="text/template" id="device-template-detail">
<!-- Edit device dialog -->
<div class="modal fade" id="modalEditDevice" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><span class="glyphicon glyphicon-edit"></span> Edit device</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div id="editDeviceStatus" style="display: none" class="bs-callout bs-callout-warning">...</div>
					<input type="hidden" id="editDeviceId" value="<%= _.escape(id) %>">
					<div class="form-group" style="padding-left: 25px">
						<label for="editDeviceSelectType">Model</label>
						<select id="editDeviceSelectType" class="btn btn-default dropdown-toggle form-control">
							<option value="">Loading..</option>
						</select>
					</div>
					<div class="form-group" style="padding-left: 25px">
						<label for="editDeviceSn">Serial</label> <input type="text" class="form-control" id="editDeviceSn" placeholder="Serial" value="<%= _.escape(sn) %>">
					</div>
					<div class="form-group" style="padding-left: 25px">
						<label for="editDeviceMacEth0">MAC Address Eth0</label> <input type="text" class="form-control" id="editDeviceMacEth0" placeholder="MAC Address 1" value="<%= _.escape(mac_eth0) %>">
					</div>
					<div class="form-group" style="padding-left: 25px">
						<label for="editDeviceMacWlan0">MAC Address Wlan0</label> <input type="text" class="form-control" id="editDeviceMacWlan0" placeholder="MAC Address 2" value="<%= _.escape(mac_wlan0) %>">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onClick="editDeviceSave()">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Log incident dialog -->
<div class="modal fade" id="modalLogIncident" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><span class="glyphicon glyphicon-fire"></span> Log incident</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div id="logIncidentStatus" style="display: none" class="bs-callout bs-callout-warning">...</div>
					<div class="row">
						<input type="hidden" id="dhDeviceId" value="<%= _.escape(id) %>">
						<input type="hidden" id="dhChange" value="comment" /> 
						<div class="col-sm-4">
							<ul class="nav nav-pills nav-stacked" id="dh-changeselect">
								<li id="dh-select-comment" class="active"><a href="#" onClick="return dhChangeSelect('comment');">Comment Only</a></li>
								<li id="dh-select-owner"><a href="#" onClick="return dhChangeSelect('owner');">Re-allocate</a></li>
								<li id="dh-select-status"><a href="#" onClick="return dhChangeSelect('status');">Status change</a></li>
								<li id="dh-select-damaged"><a href="#" onClick="return dhChangeSelect('damaged');">Set 'Damaged'</a></li>
								<li id="dh-select-spare"><a href="#" onClick="return dhChangeSelect('spare');">Set 'Spare'</a></li>
								<li id="dh-select-bought"><a href="#" onClick="return dhChangeSelect('bought');">Set 'Bought'</a></li>
							</ul>
						</div>
						<div class="col-sm-8" id="sh-changeboxes">
							<div class="formgroup" id="dh-comment">
								<label>Comment</label>
								<textarea id="dhComment" placeholder="Technician comment" class="form-control" style="resize: none" rows="4"></textarea>
								<div style="padding-top: 20px;"></div>
							</div>
							<div class="formgroup dh-changebox" style="display: none" id="dh-owner">
								<input type="hidden" id="dhPersonId" value="" />
								<label>Allocate to</label>
								<input id="dhPersonSelect" type="text" class="form-control typeahead" placeholder="Person's Code" autocomplete="off" value="" />
							</div>
							<div class="formgroup dh-changebox" style="display: none" id="dh-status">
								<label>Status</label>
								<label for="dhSelectStatus">New Status</label>
								<select id="dhSelectStatus" class="btn btn-default dropdown-toggle form-control">
									<option value="">Loading..</option>
								</select>
							</div>
							<div class="formgroup dh-changebox" style="display: none" id="dh-damaged">
								<div class="checkbox">
									<label><input type="checkbox" id="dhIsDamaged"<%= checked(is_damaged) %>> Damaged</label>
								</div>
							</div>
							<div class="formgroup dh-changebox" style="display: none" id="dh-spare">
								<div class="checkbox">
									<label><input type="checkbox" id="dhIsSpare"<%= checked(is_spare) %>> Spare</label>
								</div>
							</div>
							<div class="formgroup dh-changebox" style="display: none" id="dh-bought">
								<div class="checkbox">
									<label><input type="checkbox" id="dhIsBought"<%= checked(is_bought) %>> Bought</label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onClick="logIncidentSave()">Save</button>
			</div>
		</div>
	</div>
</div>

<div class="btn-group" style="float: right">
	<button type="button" onClick="return logIncident(<%= _.escape(device_status_id) %>);" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Log Incident</button>
	<button type="button"  onClick="return editDevice(<%= _.escape(device_type_id) %>);" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</button>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Lookup <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="https://selfsolve.apple.com/wcResults.do?sn=<%= _.escape(sn) %>&Continue=Continue&num=0" target="_new">Apple Warranty</a></li>
			</ul>
		</div>
	</div>
</div>
<h2><%= _.escape(device_type.name) %> / <%= _.escape(sn) %></h2>
<table class="table">
	<tbody>
		<tr>
			<th>Allocation</th><td><a href="#person/<%= _.escape(person.id) %>"><%= _.escape(person.firstname + ' ' + person.surname) %> (<%= _.escape(person.code) %>)</a></td><th>Status</th><td><%= _.escape(device_status.tag) %></td>
		</tr>
		<tr>
			<th>Serial</th><td><a href="#device/<%= _.escape(id) %>"><%= _.escape(sn) %></a></td><th>Spare</th><td><%= yn(is_spare) %></td>
		</tr>
		<tr>
			<th>Model name</th><td><%= _.escape(device_type.name) %></a></td><th>Damaged</th><td><%= yn(is_damaged) %></td>
		</tr>
		<tr>
			<th>Model number</th><td><%= _.escape(device_type.model_no) %></a></td><th>Bought</th><td><%= yn(is_bought) %></td>
		</tr>
	</tbody>
</table>
<h3>History (<%= device_history.length %>)</h3>
</script>

</head>
<body>
	<div class="container">
		<div class="row quarter-spacer">
			<div class="col-sm-6">
				<!--Heading -->
				<h1>
					<img src="public/tablet.png" /> Device Log
				</h1>
			</div>
			<div class="col-sm-6 half-spacer" style="text-align: right">
				<button class="btn btn-sm btn-default" id="btnAddNew">
					<span class="glyphicon glyphicon-plus"></span> Add New
				</button>
				<a class="btn btn-sm btn-primary" id="btnLogout" href="#logout">
					<span class="glyphicon glyphicon-log-out"></span> Log out
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Tabs list copy/paste/edit name to add more -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
			<li><a href="#people" data-toggle="tab">People</a></li>
			<li><a href="#devices" data-toggle="tab">Devices</a></li>
			<li><a href="#software" data-toggle="tab">Software</a></li>
			<li><a href="#keys" data-toggle="tab">Keys</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- List of people -->
			<div class="tab-pane active" id="overview">
				<div class="bs-callout bs-callout-info">
					Welcome to <b>Device Log</b>.
				</div>
			</div>

			<div class="tab-pane" id="people">
				<div id="personList">
					<p style="padding-top: 10px">Quick Search:</p>

					<form class="col-sm-6">
						<div class="input-group">
							<input id="personQuickSearch" type="text"
								class="form-control typeahead" placeholder="Person's Code"
								autocomplete="off">
						</div>
					</form>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Code</th>
								<th>First name</th>
								<th>Surname</th>
								<th>Staff</th>
								<th>Active</th>
							</tr>
						</thead>
						<tbody id="person-tbody"></tbody>
					</table>
				</div>
				<div id="personDetail">
					<div class="row">
						<div class="col-sm-12">
							<div id="personDetailTop"></div>
							<div id="personDetailHistory"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="devices">
				<div id="deviceList">
					<p style="padding-top: 10px">Quick Search:</p>

					<form class="col-sm-6">
						<div class="input-group">
							<input id="deviceQuickSearch" type="text"
								class="form-control typeahead" placeholder="Serial Number"
								autocomplete="off">
						</div>
					</form>


					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Type</th>
								<th>Device Serial</th>
								<th>Owner Code</th>
								<th>Device Status</th>
								<th>Spare</th>
								<th>Damaged</th>
								<th>Bought</th>
							</tr>
						</thead>
						<tbody id="device-tbody"></tbody>
					</table>
				</div>

				<div id="deviceDetail">
					<div class="row">
						<div class="col-sm-12">
							<div id="deviceDetailTop"></div>
							<div id="deviceDetailHistory"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="software">
				<div class="bs-callout bs-callout-warning">
					The <b>Software</b> tab has not been implemented yet.
				</div>
			</div>

			<div class="tab-pane" id="keys">
				<div class="bs-callout bs-callout-warning">
					The <b>Keys</b> tab has not been implemented yet.
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalAddNew" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> Add New</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group">
						<!-- Choose Form Dropdown -->
						<select id="cboAddNew" class="btn btn-default dropdown-toggle">
							<option value="addselect">(Please select)</option>
							<option value="addperson">Person</option>
							<option value="adddevice">Device</option>
							<option value="addsoftware">Software</option>
							<option value="addkey">Key</option>
						</select>
						<div id="addselect" class="show-hide">
							<div class="bs-callout bs-callout-info" style="margin-top: 40px">
								Choose from the drop-down box</div>
						</div>
						<!-- Add Person Form -->
						<div id="addperson" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addPersonStatus" class="bs-callout bs-callout-warning">...</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addPersonUserCode">Code</label> <input type="text"
										class="form-control" id="addPersonUserCode"
										placeholder="Enter Code">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addPersonFirstName">First Name</label> <input
										type="text" class="form-control" id="addPersonFirstName"
										placeholder="First Name">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addPersonSurname">Surname</label> <input
										type="text" class="form-control" id="addPersonSurname"
										placeholder="Surname">
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox" id="addPersonIsStaff">
										Staff
									</label>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox" id="addPersonIsActive"
										checked="yes"> Active
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
						<!-- Add Device Form -->
						<div id="adddevice" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addDeviceStatus" class="bs-callout bs-callout-warning">...</div>

								<div class="form-group" style="padding-left: 25px">
									<label for="addDeviceSelectType">Model</label> <select
										id="addDeviceSelectType"
										class="btn btn-default dropdown-toggle form-control">
										<option value="">Loading..</option>
									</select>
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addDeviceSn">Serial</label> <input type="text"
										class="form-control" id="addDeviceSn" placeholder="Serial">
								</div>
								<div class="form-group" id="addDeviceOwnerFrmGroup" style="padding-left: 25px">
									<input type="hidden" id="addDevicePersonId" value="" />
									<label for="addDeviceOwner">Allocated to</label><br /> <input
										type="text" class="form-control typeahead" id="addDeviceOwner"
										placeholder="Owner">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addDeviceMacEth0">MAC Address Eth0</label> <input
										type="text" class="form-control" id="addDeviceMacEth0"
										placeholder="MAC Address 1">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addDeviceMacWlan0">MAC Address Wlan0</label> <input
										type="text" class="form-control" id="addDeviceMacWlan0"
										placeholder="MAC Address 2">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addDeviceSelectStatus">Status</label> <select
										id="addDeviceSelectStatus"
										class="btn btn-default dropdown-toggle form-control">
										<option value="">Loading..</option>
									</select>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox" id="addDeviceIsSpare"> Spare
									</label>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox" id="addDeviceIsDamaged"> Damaged
									</label>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox" id="addDeviceIsBought"> Bought
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
						<!-- Add Software Form -->
						<div id="addsoftware" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addSoftwareStatus"
									class="bs-callout bs-callout-warning">...</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputAppID">App ID</label> <input type="text"
										class="form-control" id="inputAppID" placeholder="Enter ID">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputSFCode">Code</label> <input type="text"
										class="form-control" id="inputSFCode" placeholder="Code">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputOwner">Person</label> <input type="text"
										class="form-control" id="inputOwner" placeholder="Person">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="selectSFType">Type</label> <select
										id="selectSFType"
										class="btn btn-default dropdown-toggle form-control">
										<option>Select</option>
										<option value="addMedia">Media</option>
										<option value="addEdu">Educational</option>
									</select>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox">Bought
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
						<!-- Add Key Form -->
						<div id="addkey" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addKeyStatus" class="bs-callout bs-callout-warning">...</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputKeySerial">Serial</label> <input type="text"
										class="form-control" id="inputKeySerial" placeholder="Serial">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputPersonCode">Owner</label> <input type="text"
										class="form-control" id="inputPersonCode"
										placeholder="Staff Code">
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox"> Spare
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="submitAddNew">Add</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modalPersonDeviceList" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Allocated Devices</h4>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Type</th>
								<th>Device Serial</th>
								<th>Device Status</th>
								<th><abbr title="Spare">S</abbr></th>
								<th><abbr title="Damaged">D</abbr></th>
								<th><abbr title="Bought">B</abbr></th>
							</tr>
						</thead>
						<tbody id="person-device-tbody"></tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script src="public/js/jquery-1.10.2.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/js/underscore-min.js"></script>
	<script src="public/js/backbone-min.js"></script>
	<script src="public/js/models.js"></script>
	<script src="public/js/typeahead.bundle.js"></script>
	<script src="public/js/dl.js"></script>
</body>
</html>
