<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="public/tablet.png" />
<link href="public/css/bootstrap.min.css" rel="stylesheet">
<link href="public/css/extra-global.css" rel="stylesheet">

<title>Device Log</title>

<script type="text/template" id="details">
  <ul> 
    <% _.each(devices, function(device)  { %>
      <li><%= device.id %></li>
    <% }); %>
  </ul>
</script>

<script type="text/template" id="device-template-tr">
	<tr>
		<td><a href="#device/<%= id %>">#<%= id %></a></td>
		<td><%= device_type.name %></td>
		<td><a href="#device/<%= id %>"><%= sn %></a></td>
		<td><a href="#person/<%= person.id %>"><%= person.code %></a></td>
		<td><%= device_status.tag %></td>
		<td><%= yn(is_spare) %></td>
		<td><%= yn(is_damaged) %></td>
		<td><%= yn(is_bought) %></td>
	</tr>
</script>

<script type="text/template" id="person-template-tr">
	<tr>
		<td><a href="#person/<%= id %>"><%= code %></a></td>
		<td><%= firstname %></td>
		<td><%= surname %></td>
		<td><%= yn(is_staff) %></td>
		<td><%= yn(is_active) %></td>
	</tr>
</script>

<script type="text/template" id="person-template-detail">
<div class="row">
	<div class="col-sm-12">
		<h2><%= firstname %> <%= surname %></h2>
		<table class="table">
			<tbody>
			<tr>
				<th>Code</th><td><a href="#person/<%= id %>"><%= code %></a></td>
				<th>Devices</th><td><a href="#" id="btnPersonDeviceList"><%= device.length %></a></td>
				<td rowspan=4" style="width: 12em;"><img class="img-thumbnail" src="/dl/api/person/photo/<%= id %>" alt="<%= code %>" /></td>
			</tr>
			<tr>
				<th>Staff</th><td><%= yn(is_staff) %></td>
				<th>Keys</th><td><%= doorkey.length %></td>
			</tr>
			<tr>
				<th>Active</th><td><%= yn(is_active) %></td>
				<th>Licenses</th><td><%= software.length %></td>
			</tr>
			<tr> <!-- Dummy row so that the image does not scale other rows -->
				<td>&nbsp;</td><td>&nbsp;</td>
				<td>&nbsp;</td><td>&nbsp;</td>
			</tr>
			</tbody>
		</table>
	<h3>History (<%= device_history.length %>)</h3>
	<% _.each(device_history, function(entry)  { %>
      entry.id
    <% }); %>
	</div>
</div>
</script>

<script type="text/template" id="device-template-detail">
<div class="row">
	<div class="col-sm-12">
		<h2><%= device_type.name %> / <%= sn %></h2>
		<table class="table">
			<tbody>
				
				<tr>
					<th>Allocation</th><td><a href="#person/<%= person.id %>"><%= person.firstname + ' ' + person.surname%> (<%= person.code %>)</a></td><th>Status</th><td><%= device_status.tag %></td>
				</tr>
				<tr>
					<th>Serial</th><td><a href="#device/<%= id %>"><%= sn %></a></td><th>Spare</th><td><%= yn(is_spare) %></td>
				</tr>
				<tr>
					<th>Model name</th><td><%= device_type.name %></a></td><th>Damaged</th><td><%= yn(is_damaged) %></td>
				</tr>
				<tr>
					<th>Model number</th><td><%= device_type.model_no %></a></td><th>Bought</th><td><%= yn(is_bought) %></td>
				</tr>
			</tbody>
		</table>
	<h3>History (<%= device_history.length %>)</h3>
		<% _.each(device_history, function(entry)  { %>
    	  entry.id
    	<% }); %>
		</div>
	</div>
</div>
</script>

</head>
<body>
	<div class="container">
		<div class="row quarter-spacer">
			<div class="col-sm-6">
				<!--Heading -->
				<h1>
					<img src="public/tablet.png" /> Device Log
				</h1>
			</div>
			<div class="col-sm-6 half-spacer" style="text-align: right">
				<button class="btn btn-sm btn-default" id="btnAddNew">
					<span class="glyphicon glyphicon-plus"></span> Add New
				</button>
				<a class="btn btn-sm btn-primary" id="btnLogout" href="#logout">
					<span class="glyphicon glyphicon-log-out"></span> Log out
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Tabs list copy/paste/edit name to add more -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
			<li><a href="#people" data-toggle="tab">People</a></li>
			<li><a href="#devices" data-toggle="tab">Devices</a></li>
			<li><a href="#software" data-toggle="tab">Software</a></li>
			<li><a href="#keys" data-toggle="tab">Keys</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- List of people -->
			<div class="tab-pane active" id="overview">
				<div class="bs-callout bs-callout-info">
					Welcome to <b>Device Log</b>.
				</div>
			</div>

			<div class="tab-pane" id="people">
				<div id="personList">
					<p style="padding-top: 10px">
						Quick Search:
					</p>
					
					<form class="col-sm-6">
						<div class="input-group">
							<input id="personQuickSearch" type="text" class="form-control typeahead" placeholder="Person's Code" autocomplete="off">
						</div>
					</form>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Code</th>
								<th>First name</th>
								<th>Surname</th>
								<th>Staff</th>
								<th>Active</th>
							</tr>
						</thead>
						<tbody id="person-tbody"></tbody>
					</table>
				</div>
				<div id="personDetail">Person detail</div>
			</div>

			<div class="tab-pane" id="devices">
				<div id="deviceList">
					<p>
						<br>Quick Search:
					</p>

					<form class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>


					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Type</th>
								<th>Device Serial</th>
								<th>Owner Code</th>
								<th>Device Status</th>
								<th>Spare</th>
								<th>Damaged</th>
								<th>Bought</th>
							</tr>
						</thead>
						<tbody id="device-tbody"></tbody>
					</table>
				</div>

				<div id="deviceDetail">Device detail</div>
			</div>

			<div class="tab-pane" id="software">
				<div class="bs-callout bs-callout-warning">
					The <b>Software</b> tab has not been implemented yet.
				</div>
			</div>

			<div class="tab-pane" id="keys">
				<div class="bs-callout bs-callout-warning">
					The <b>Keys</b> tab has not been implemented yet.
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalAddNew" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add New</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group">
						<!-- Choose Form Dropdown -->
						<select id="cboAddNew" class="btn btn-default dropdown-toggle">
							<option value="addselect">(Please select)</option>
							<option value="addperson">Person</option>
							<option value="adddevice">Device</option>
							<option value="addsoftware">Software</option>
							<option value="addkey">Key</option>
						</select>
						<div id="addselect" class="show-hide">
							<div class="bs-callout bs-callout-info" style="margin-top: 40px">
								Choose from the drop-down box</div>
						</div>
						<!-- Add Person Form -->
						<div id="addperson" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addPersonStatus" class="bs-callout bs-callout-warning">...</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addPersonUserCode">Code</label> <input type="text"
										class="form-control" id="addPersonUserCode"
										placeholder="Enter Code">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addPersonFirstName">First Name</label> <input
										type="text" class="form-control" id="addPersonFirstName"
										placeholder="First Name">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="addPersonSurname">Surname</label> <input
										type="text" class="form-control" id="addPersonSurname"
										placeholder="Surname">
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox" id="addPersonIsStaff">
										Staff
									</label>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox" id="addPersonIsActive"
										checked="yes"> Active
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
						<!-- Add Device Form -->
						<div id="adddevice" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addDeviceStatus" class="bs-callout bs-callout-warning">...</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputSerial">Serial</label> <input type="text"
										class="form-control" id="inputSerial" placeholder="Serial">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputMAC1">MAC Address Eth0</label> <input
										type="text" class="form-control" id="inputMAC1"
										placeholder="MAC Address 1">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputMAC2">MAC Address Wlan0</label> <input
										type="text" class="form-control" id="inputMAC2"
										placeholder="MAC Address 2">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputOwner">Owner</label> <input type="text"
										class="form-control" id="inputOwner" placeholder="Owner">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="selectType">Type</label> <select id="selectType"
										class="btn btn-default dropdown-toggle form-control">
										<option>Select</option>
										<option value="addMacBook">MacBook</option>
										<option value="addiPad">iPad</option>
									</select>
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="selectStatus">Status</label> <select
										id="selectStatus"
										class="btn btn-default dropdown-toggle form-control">
										<option value="addIn">In</option>
										<option value="addOut">Out</option>
									</select>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox"> Spare
									</label>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox"> Damaged
									</label>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox"> Bought
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
						<!-- Add Software Form -->
						<div id="addsoftware" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addSoftwareStatus"
									class="bs-callout bs-callout-warning">...</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputAppID">App ID</label> <input type="text"
										class="form-control" id="inputAppID" placeholder="Enter ID">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputSFCode">Code</label> <input type="text"
										class="form-control" id="inputSFCode" placeholder="Code">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputOwner">Person</label> <input type="text"
										class="form-control" id="inputOwner" placeholder="Person">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="selectSFType">Type</label> <select
										id="selectSFType"
										class="btn btn-default dropdown-toggle form-control">
										<option>Select</option>
										<option value="addMedia">Media</option>
										<option value="addEdu">Educational</option>
									</select>
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox">Bought
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
						<!-- Add Key Form -->
						<div id="addkey" class="show-hide" style="display: none">
							<form role="form" style="padding-top: 40px">
								<div id="addKeyStatus" class="bs-callout bs-callout-warning">...</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputKeySerial">Serial</label> <input type="text"
										class="form-control" id="inputKeySerial" placeholder="Serial">
								</div>
								<div class="form-group" style="padding-left: 25px">
									<label for="inputPersonCode">Owner</label> <input type="text"
										class="form-control" id="inputPersonCode"
										placeholder="Staff Code">
								</div>
								<div class="checkbox" style="padding-left: 45px">
									<label> <input type="checkbox"> Spare
									</label>
								</div>
								<div style="padding-left: 25px;"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="submitAddNew">Add</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<script src="public/js/jquery-1.10.2.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/js/underscore-min.js"></script>
	<script src="public/js/backbone-min.js"></script>
	<script src="public/js/models.js"></script>
	<script src="public/js/typeahead.bundle.js"></script>
	<script src="public/js/dl.js"></script>
</body>
</html>
