body {
	overflow-y: scroll;
}

.table-striped tbody tr:hover {
	opacity: 0.4;
}

object {
	width: 100%;
	min-height: 90%;
}

td,th {
	font-size: 85%
}

.spacer {
	margin-top: 40px;
}

.half-spacer {
	margin-top: 20px;
}

.quarter-spacer {
	margin-top: 10px;
}

.person-profile-img  img {
	width: 75%;
	max-width: 300px !important;
	margin: 5px;
}

.person-profile-img {
	text-align: center;
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,.bs-callout .highlight {
	background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}

.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}

.tt-suggestion p {
	margin: 0;
}

.tt-suggestions {
	border: 1px solid #bbb;
	border-top: none;
	background: #fff;
	width: 300px;
	padding:0;
}

.tt-suggestion {
	padding: 3px 5px;
}

.tt-suggestion:hover {
	background: #428bca;
	color: #fff;
}

.twitter-typeahead {
	width: 300px;
}

.typeahead {
	border-radius: 4px !important;
	width: 300px;
}

select {
	text-align: left !important; /* Firefox applies centre-alignment to the boxes */
}